<template name="homeAbout">

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
      <h1>About Tree II Web</h1>
        <p class="lead">
        <p align="left">
          Our goal is for the betterment of everyone and planet Earth by reducing carbon footprint and global warming. We aim to accomplish this by producing more ozygen with the reduction of paper production and consumption and planting and sustaining trees.
		  <br><br>
          We are called t2w because we will utilize the web to stave off global warming by reducing paper waste and grow more trees.
        </p>
        </p>
      </div>
    </div>
    <hr/>
  </div>
</div>

</template>
